body.dark-mode .details-content {
  background-color: #000000;
}

body.dark-mode .details-meta-grid strong {
  color: #f4f4f4;
}

body.dark-mode .title-header h1 {
  color: #ffffff;
}

body.dark-mode .desc_header,
body.dark-mode .area_header > h2,
body.dark-mode .cast-name {
  color: #dbe3ff;
}
